extends layout

block content
	form(method='POST', action='/home/callendar/add')
		input(type='text', name='title' required) 
		input(type='date', name='start' required)
		input(type='date', name='end' required)  
		input(type='submit')