<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
        <title>MY APP</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
      </head>
      <body>
        <h1>Elektroniczny obieg dokumentów</h1>
        <ul>
        <tr><a href='/register'>zarejestruj się</a></tr>
        <tr><a href='/login'>zaloguj się</a></tr>
        </ul>

      </body>
      </html>

                                              
