<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
        <title>MY APP</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
      </head>
      <body>
        
        <ul>
        <form action='/login' method="POST">
        <input type='text' name='name'>
        <input type='password' name='password'>
        <button type='submit'>Login</button>
        </form>
        </ul>

      </body>
      </html>

                                              
