extends layout

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				#user
					h1.text-center.login-title Your inbox
		each file in files
			div.col-sm-10.lister
				ul.user-details
					li.list 
						a(href='/home/openbox/' + file._id) #{file.filename}
			div.col-sm-2
				a.delete(href="/home/openbox/delete/" + file._id)="Delete"
				a(href='/home/openbox/viewed/' + file._id)=' Viewed'

		
									
									

				//- form(enctype="multipart/form-data" action='/home/openbox/delete' method='DELETE')
				//- 	button(type='submit' text='przeslij') przeslij
				//- 	button(type='submit' name='delete') usun
				//- 	button(type='submit' text='odpowiedz') odpowiedz
				//- 	button(type='submit') otworz
