extends layout

block content
		form(method='POST' action='/home/sender/file' enctype="multipart/form-data")
			input(type='file' name='file')
			input(type='submit')
			ul.user-details
				h2 Userzy
				each user in users
					ul
						li: input(type='checkbox', name='user', value='#{user.username}' ) 
						p #{user.lastName} #{user.firstName}
	
	